#app {
  height: 100%;
}

.container-wrap {
  position: relative;
  max-width:1100px;
  margin:0 auto;
}

.subpage {
  min-height: 600px;
  margin-top: 163px;

  &-content {
    padding: 40px 0 120px;
  }
}

@media screen and (max-width: 1140px) {
  .container-wrap {
    margin: 0 20px;
  }
}

@include responsive(tablet) {
  .subpage {
    margin-top: 119px;
    min-height: 500px;

    &-detail {
      padding: 0 0 65px;
    }
  }
}

@include responsive(mob){
  .container-wrap {
    margin: 0
  }

  .subpage {
    min-height: calc(100vh - 118px);
    margin-top: 91px;
    padding-bottom: 65px;

    &-content {
      padding: 30px 20px 30px;
    }

    &-detail {
      padding: 0;
    }
  }
}